    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">E-Commerce Brand</span>
    </div>
    </nav>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{hrefAllProducts}}">All Products</a>
    </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{hrefAddProduct}}">Add Product +</a>
    </div>
    </nav>
