<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <main>
            <h1 class="mt-1 text-center">Enter Product</h1>
            <form action="/products" method="post" class="m-5 p-5 border border-gray bg-light">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Ej. Camisa">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">price</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Ej. 1500">
                </div>
                <div class="mb-3">
                    <label for="thumbnail" class="form-label">URL</label>
                    <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Ej. https://d368r8jqz0fwvm.cloudfront.net/6340-product_lg/camisa-de-hombre-corcega-m-c.jpg">
                </div>
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </form>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
<footer>
    <%- include('../partials/footer.ejs') %>
</footer>

</html>